body{
    background-color:#0d1620;;
}

.btn{
    z-index: 2;
    margin-bottom: 25px !important;
}
@media only screen and (min-width: 1025px) {
    .show-info, .back-btn {
        display: none;
    }
  }
  @media only screen and (max-width: 1025px){
      .saidl{
          height: 380px;
      }
  }
.main-raised{
    color: white;
    z-index: 4;
    border-radius: 18px;
    background-color: rgb(20, 34, 47);  
}
.main-content{
    background: #0d1620;
    margin-top: -50px;
}
.card-description{
    color: white!important;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    text-align: start;
}
.card-description strong{
    color: rgb(2, 247, 255) !important;
    font-size: 16px !important;
    font-family: sans-serif;
}
.title{
    color: white;
}
.page-header{
     width:100%;

}
.front{
    box-shadow: 0 0px 10px 3px rgba(2, 0, 0, 0.459) !important;
}
.back{
    box-shadow: 0 0px 10px 3px rgba(2, 247, 255, 0.459) !important;
}
.navbar{
    background-color: rgb(20, 34, 47) !important;
    color: white;  
}
@media (max-width: 991px){
.navbar-collapse::after {
    background-color:rgb(20, 34, 47);
}
.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
}
}
footer{
    background-color: rgb(20, 34, 47); 
    color: white;
}
footer a{
    color: aqua;
}
.footer-link a:hover{
    color: aqua !important;
}
.page-header{
    height: 70vw;
}
.Wallstreet{
    padding: 20px !important;
}