body{
    background-color:#0d1620;;
}

.btn{
    z-index: 2;
}
.footer{
    margin-top: auto;
    margin-bottom: 30px !important;
}
#mainInfo p{
    font-size: 16px;
}
#mainInfo a{
    color: rgb(2, 247, 255) !important;
}
.main-raised{
    color: white;
    z-index: 4;
    border-radius: 18px;
    background-color: rgb(20, 34, 47);  
}
.main-content{
    background: #0d1620;
    margin-top: -50px;
}
.card-description{
    color: white!important;
    height: auto;
    text-align: start;
    overflow-y: scroll;
    line-height: 20px;
    margin: 25px !important;
    max-height: 220px;
}
.card-description::-webkit-scrollbar {
    display: none; 
}
@media only screen and (min-width: 1025px) {
    .show-info, .back-btn {
        display: none;
    }
  }
  @media only screen and (max-width: 1025px){
      .front-background,.card-background{
          height: 390px;
      }
      .footer{
          margin-bottom: 15px !important;
      }
      .card-description{
        max-height: 280px;
      }
  }

.card-description strong{
    color: rgb(2, 247, 255) !important;
    font-size: 16px !important;
    font-family: sans-serif;
}
.card-body strong{
    color: #fff !important;
    font-size: 14px !important;
    font-family: sans-serif;
}
.badge-default{
    background-color: rgba(0, 0, 0, 0.5) !important;}
.title{
    color: white;
}
.brand {
    text-align: center; 
    margin-top: 200px;
}
#myVideo {
    position: fixed;
    z-index: 0;
    right: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
  }
.association {
    margin-top: 20px;
}
.association-icons {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 200px; 
    display: flex; 
    justify-content:center;
}
.front{
    box-shadow: 0 0px 10px 3px rgba(2, 0, 0, 0.459) !important;
}
#commudle .front{
    box-shadow: 0 0px 10px 3px rgba(9, 241, 86, 0.7) !important;
}
.back{
    box-shadow: 0 0px 10px 3px rgba(2, 247, 255, 0.459) !important;
}
.navbar{
    background-color: rgb(20, 34, 47) !important;
    color: white !important;  
}
@media (max-width: 991px){
.association-icons {
        margin-bottom: 150px; 
}
.brand {
        margin-top: 150px;
}
.association {
    margin-top: 10px;
}
.navbar-collapse::after {
    background-color:rgb(20, 34, 47);
}
.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
}
}
.navbar .navbar-toggler .navbar-toggler-icon {
    background-color: #fff;
}
footer{
    background-color: rgb(20, 34, 47); 
    color: white;
}
footer a{
    color: aqua;
}
.footer-link a:hover{
    color: aqua !important;
}

.page-header {
    height: max-content;
}

.Wallstreet{
    padding: 20px !important;
}
.card-title small{
    color: rgba(255, 255, 255, 1) !important;
}
footer .footer{
    position: relative;
}

#security{
    padding: 5px;
}